.vl {
  border-left: 6px solid lightgray;
  height: 700px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.editor {
  position: absolute;
  width: 45%;
  height: 600px;
  margin: 2em;
}

.viewer {
  position: absolute;
  left: 50%;
  width: 45%;
  height: 600px;
  margin: 2em;
}

.btn {
  position: absolute;
  left: 48%;
  padding: 1em 1em;
}

ul {
  list-style-type: none;
}

.caret {
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  transform: rotate(90deg);
}
